*{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    padding: 1rem;
    background-color: rgb(192, 40, 40);
    border-radius: 2rem;
    border: #333 1px solid;
    cursor: pointer;
}
body{
    padding-top: 1rem;
    width: 100vw;
    margin: 0%;
    height: auto;
    text-align: center;
    background: url('https://github.com/user-attachments/assets/ca7cdfab-95d1-4f13-a259-2f5bdff7c7e9');     
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.cargar{
    margin-top: 1rem;
    height: 2rem;
}
#fondo{
    width: 70%;
}
.mesa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.cartasVer img{
    width: clamp(4rem,10vw,8rem);
}
.carta{
    width: clamp(4rem,9vw,9rem);
    overflow: hidden;
}
.carta img{
    width:clamp(4rem,9vw,9rem);
    object-fit: contain;
}
.cartasB,.cartasA   {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartasA, .cartasB{
    width: 10rem;
}
.ver1,.ver2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nuevo{
    margin: auto;
    
}
.cartaVer{    
    transition: 1s;
}
.reglas{
    width: clamp(18rem,50vw,70rem);
    margin: auto;
    height: auto;
    font-size: clamp(1rem,2vw,2rem);
    margin-top: 1rem;
}
.cartasVer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}
.contenido{
    margin-bottom: 1rem;

}
#LabelInfo{
    cursor: pointer;
}
#pLabel{
    width:  clamp(1rem,2vw,2rem);
}
.info{
    border-radius:2rem ;
    margin: auto;
    margin-top: 1rem;
    width: clamp(18rem,50vw,70rem);
    backdrop-filter: blur(10px);
    height: auto;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 2rem;
}
#check{
    display: none;
}
#check:checked ~ .info{
    opacity: 1;
}
@media only screen and (max-width:790px) {
    body{
        height: 100vh;
    }
    #fondo{
        opacity: 0;
    }
    .cartasVer{
        gap: 0.5rem;
    }
}
