*{
    margin: 0%;
    padding: 0%;
    color: white     ;
}
button{
    padding: 1rem;
    background-color: rgb(192, 40, 40);
    border-radius: 2rem;
    border: #333 1px solid;
}
body{
    padding-top: 1rem;
    width: 100vw;
    margin: 0%;
    height: 100vh;
    text-align: center;
    background-color: #333;
    overflow-x: hidden;
}
.cargar{
    height: 2rem;
}
#fondo{
    width: 70%;
}
.mesa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.cartasVer img{
    width: clamp(4rem,10vw,5rem);
}
.carta{
    width: clamp(4rem,9vw,9rem);
    overflow: hidden;
}
.carta img{
    width:clamp(4rem,9vw,9rem);
    object-fit: contain;
}
.cartasB,.cartasA   {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartasA, .cartasB{
    width: 10rem;
}
.ver1,.ver2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nuevo{
    margin: auto;
    
}
.cartaVer{    
    transition: 1s;
}
.reglas{
    width: clamp(18rem,50vw,70rem);
    margin: auto;
    height: auto;
    font-size: clamp(1rem,2vw,2rem);
    margin-top: 2rem;
}
.cartasVer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@media only screen and (max-width:790px) {
    #fondo{
        opacity: 0;
    }
}
