*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: #333;
  margin: 0%;
  height: min(100vh);
}
header{
    font-size:  clamp(1rem, 5vw, 3rem);
    color: #ffffff;
    background: #7700ff;
    border: 1px solid #6f00ff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #7700ff, 0 0 20px #7700ff, 0 0 50px #7700ff,
      0 0 100px #7700ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vw;
    position: fixed;
    width: 100%;
}
a{
    text-decoration: none;
    color: #ddebf0;
}
/* From Uiverse.io by zjssun */ 
button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #7700ff;
    border: 1px solid #6f00ff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #7700ff, 0 0 20px #7700ff, 0 0 50px #7700ff,
      0 0 100px #7700ff;
}
img{
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.space{
    height: 8vw;
}
/* From Uiverse.io by csemszepp */ 
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }
  
  